.dashboard-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#employees-header {
  color: rgb(42, 42, 42);
  font-weight: 600;
}

.employees-content {
  flex: 1;
  padding: 20px;
  background-color: #f8f8f8;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.table-container {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table-body {
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #6a0dad;
  color: white;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.edit-btn {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.delete-btn {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 5px;
}
.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.action-cell {
  position: relative;
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.menu-dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: fit-content !important;
}

.menu-dropdown button {
  background: none;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.menu-dropdown button:hover {
  background-color: #f1f1f1;
}

