* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.register-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center !important;
  align-items: center;
  background-color: rgb(226, 226, 226);
}

.register-card {
  width: 90vw;
  height: 80vh;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.register-info {
  width: 60%;
  height: 100%;
  background-color: #3d007e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register-info img {
  width: 100%;
  border-radius: 5px;
}
.logo-text{
  color:#360768;
  position: absolute;
  top: 3%;
  font-size: 35px;
  font-weight: bolder;
  left: 45%;
}
.register-info h2 {
  margin-top: 20px;
  font-size: 18px;
}
.auth-title {
  position: relative;
  top: 8%;
  left: -15%;
  font-size: 22px;
  font-weight: 600;
  /* margin-bottom: 10px; */
  text-align: center;
  color: #007bff;

}
.register-info p {
  font-size: 14px;
  margin-top: 10px;
  opacity: 0.8;
}

.dots span {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  margin: 5px;
  opacity: 0.6;
}

.register-form {
  position: relative;
  width: 40%;
  height: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form-input {
    width: 100%;
    display: flex;
    height: 75%;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.label {
  font-weight: 500;
  font-size: 14px;
  color: black;
  margin-top: 20px;
}

.auth-input {
  width: 25vw;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  color: black;
  background-color: white;
}

.auth-input:focus {
  border-color: #007bff;
}

.register-form h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.register-form .error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.register-form button {
  width: 40%;
  background: #6a11cb;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  border-radius: 50px;
}

.register-form button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.register-form button:hover {
  background: #2575fc;
}

.login-text {
  text-align: center;
  margin-top: 0px;
  color: black;
  margin-right: 140px;
}

.login-text a {
  color: #6a11cb;
  text-decoration: none;
  font-weight: bold;
}